<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sửa thành phần</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="fa/css/all.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="stylesheets/nhapthanhphan.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nội dung
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button type="button" class="dropdown-item" onclick="monan()">Món ăn</button>
                        <button type="button" class="dropdown-item" onclick="thanhphan()">Thành phần</button>
                        <input type="text" id="token" name="token" value="<%-token%>" style="display: none;">
                        <input type="text" id="layid" name="layid" value="<%-id%>" style="display: none;">
                        <input type="text" id="phone" name="phone" value="<%-phone%>" style="display: none;">
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0" type="button" id="logout" >Đăng
                    xuất</button></a>
            </form>
        </div>
    </nav>
    <!-- Form -->
    <div class="form" id="data">
        <!-- <form method="" action="" name="postthanhphan" id="postData">
            <div class="inp">
                <input type="text" name="ttphanchinh" id="ttphanchinh" placeholder="Tên thành phần chính">
            </div>
            <input type="radio" name="loai" id="thit" value="Thịt">
            <label for="loai">Thịt</label>
            <br>
            <input type="radio" name="loai" id="haisan" value="Hải sản">
            <label for="loai">Hải sản</label>
            <br>
            <input type="radio" name="loai" id="rau" value="Rau củ quả">
            <label for="loai">Rau, củ, quả</label>
            <br>

            <div class="inp">
                <input type="text" name="thanhphan" id="thanhphan" placeholder="Nhập thành phần ở đây">
                <div id="them">
                </div>
                <button type="button" class="themmodal" data-toggle="modal" data-target="#myModal" onclick="abc()">Thêm
                    thành phần</button>
            </div>

            <br>
            <div class="inp">
                <input type="text" id="idanh" name="idanh" placeholder="Nhập id ảnh ở đây">
                <br>
                <button type="button" onclick="laylink()">Chọn ảnh</button></div>
            <br>
            <div class="inp">
                <input type="text" id="linkanh" style="display: none;">
                <div id="anh"></div>
            </div>

            <br>

            <button type="submit" name="submit">Sửa</button>
            <button type="button" onclick="xyz()">Kiểm tra</button>
        </form> -->
    </div>



    <script>
        var list = "";
        var descriptionList = [];
        var id = document.getElementById("layid").value;
        var token = document.getElementById("token").value;
        var phone = document.getElementById("phone").value;
        var anh = "";

        //////////////////////Fetch xuất dữ liệu 
        function loadData() {
            var data = "";
            const header = {
                headers: {
                    'Accept': '*/*',
                    'Content-Type': 'application/json',
                    'token': token
                },
                method: "GET",
                mode: "cors"
            };
            var url = `https://easycook37.herokuapp.com/homeIngredient/display?id=${id}`
            fetch(url, header)
                .then(function (response) {
                    return response.json();
                })
                .then(function (result) {
                    let name = result.data.name;
                    let type = result.data.type;
                    let image = result.data.image;
                    //xử lí thêm thành phần
                    result.data.descriptionList.forEach(function (user) {
                        list += `
                            <p name="tphan" value="${user}">${user}</p>
                        `
                        descriptionList.push(user);
                    })
                    //xử lí phần ảnh
                    anh = `
                    <img src="${image}" alt="" width="200px" height="200px"> 
                    `;
                    // dữ liệu xuất ra màn hình
                    data = `
        <form method="" action="" name="postthanhphan" id="postData">
            <div class="inp">   
                <input type="text" name="ttphanchinh" id="ttphanchinh" placeholder="Tên thành phần chính" value="${name}">
            </div>
            <input type="radio" name="loai" id="thit" value="Thịt" CHECKED>
            <label for="loai">Thịt</label>
            <br>
            <input type="radio" name="loai" id="haisan" value="Hải sản">
            <label for="loai">Hải sản</label>
            <br>
            <input type="radio" name="loai" id="rau" value="Rau củ quả">
            <label for="loai">Rau, củ, quả</label>
            <br>
            <div class="inp">
                <input type="text" name="thanhphan" id="thanhphan" placeholder="Nhập thành phần ở đây">
                <div id="them">
                    ${list}
                </div>
                <button type="button" onclick="xoacuoi()">Xóa</button>
                <button type="button" class="themmodal" onclick="themtphan()">Thêm
                    thành phần</button>
            </div>

            <br>
            <div class="inp">
                <input type="text" id="idanh" name="idanh" placeholder="Nhập id ảnh ở đây">
                <br>
                <button type="button" onclick="laylink()">Chọn ảnh</button></div>
            <br>
            <div class="inp">
                <input type="text" id="linkanh" style="display: none;" value="${image}">
                <div id="anh">${anh}</div>
            </div>
            <br>
            <button type="button" name="submit" onclick="post()">Sửa</button>
            <button type="button" onclick="kiemtra()">Kiểm tra</button>
            <div id="modal" class="modal" style="display: none;">
                <div class="modal-content">
                    <form action="#">   
                         <div id=mess></div>
                    </form>
                </div>
            </div>
        </form>
                    `;

                    document.getElementById("data").innerHTML = data;
                })
                .catch(err => {
                    console.log('Error :-S', err)
                });
        }
        loadData();
        

        /////////////////Sửa
        function post() {
            var name = document.getElementById("ttphanchinh").value;
            var loai = document.getElementsByName("loai");
            var type = "";
            for (var i = 0; i < loai.length; i++) {
                if (loai[i].checked === true) {
                    type = loai[i].value;
                    // console.log(type);
                    break;
                }
            }
            var imageData = document.getElementById("linkanh").value;

            const data = {
                "name": name,
                "type": type,
                "image": imageData,
                "descriptionList": descriptionList
            };
            const header = {
                headers: {
                    'Accept': '*/*',
                    'Content-Type': 'application/json',
                    'token': token
                },
                body: JSON.stringify(data),
                method: "POST",
                mode: "cors"
            };
            var url = `https://easycook37.herokuapp.com/updateIngredient?id=${id}`
            fetch(url, header)
                .then(function (response) {
                    return response.json();
                })
                .then(function (result) {
                    console.log(result);
                    window.location = `http://localhost:3000/thanhphan?token=${token}&phone=${phone}`;
                })
                .catch(function (error) {
                    console.log('Request failed', error);
                });
        }




        ////Nút thêm thành phần
        function themtphan() {
            var them = document.getElementById("them");
            var a = document.getElementById("thanhphan");
            var value_a = a.value;
            // console.log(value_a);
            //tạo thẻ mới 
            var p = document.createElement("p");
            //tạo thuộc tính
            var att = document.createAttribute("name");
            var val = document.createAttribute("value");
            //gán giá trị cho thuộc tính đó
            att.value = "tphan";
            val.value = value_a;
            //gán id cho thẻ đó
            p.setAttributeNode(att);
            p.setAttributeNode(val);
            p.innerHTML = value_a;
            //thêm p vào cuối tại thẻ có id them
            them.appendChild(p);
            //thêm giá trị vào cuối mảng
            descriptionList.push(value_a);
            document.getElementById("thanhphan").select();
        }

        function xoacuoi() {
            var list="";
            descriptionList.pop();
            descriptionList.forEach(function(user){
                list += `
                            <p name="tphan" value="${user}">${user}</p>
                        `
            })
            document.getElementById("them").innerHTML=list
        }

        function createIngredientMainFood(name, imageData, type, descriptionList) {
            this.name = name;
            this.imageData = imageData;
            this.type = type;
            this.descriptionList = descriptionList;
        }


        //Kiểm tra
        // var modal = document.getElementById("modal");
        function kiemtra() {
            // modal.style.display = "block";
            document.getElementById("modal").style.display="block";
            var photoId = document.getElementById("idanh").value;
            var name = document.getElementById("ttphanchinh").value;
            var loai = document.getElementsByName("loai");
            var imageData = document.getElementById("linkanh").value;
            var type = "";
            for (var i = 0; i < loai.length; i++) {
                if (loai[i].checked === true) {
                    type = loai[i].value;
                    // console.log(type);
                    break;
                }
            }
            var x = new createIngredientMainFood(name, imageData, type, descriptionList);
            // console.log(x);
            var output="Tên thành phần chính: "+name+"\nLoại: "+type+"\nDanh sách thành phần: "+descriptionList+"\nẢnh: "+imageData;
            // alert(output);
            var mess = `
                <p>Tên thành phần chính: ${name}<p>
                <p>Loại: ${type}<p>
                <p>Thành phần phụ: ${descriptionList}<p>
                <img src="${imageData}" alt="" width="200px" height="200px"> 
            `
            document.getElementById("mess").innerHTML = mess;
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        function FlickrPhoto(title, owner, flickrURL, imageURL) {
            this.title = title;
            this.owner = owner;
            this.flickrURL = flickrURL;
            this.imageURL = imageURL;
        }
        function FlickrService() {
            this.flickrApiKey = "865280953f08e24f6ceff3ce461e9bf2";
            this.flickrGetInfoURL = "https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&nojsoncallback=1&format=json";

            this.getPhotoInfo = function (photoId, callback) {
                var ajaxOptions = {
                    type: 'GET',
                    url: this.flickrGetInfoURL,
                    data: { api_key: this.flickrApiKey, photo_id: photoId },
                    dataType: 'json',
                    success: function (data) {
                        if (data.stat == "ok") {
                            var photo = data.photo;
                            var photoTitle = photo.title._content;
                            var photoOwner = photo.owner.realname;
                            var photoWebURL = photo.urls.url[0]._content;
                            var photoStaticURL = "https://farm" + photo.farm + ".staticflickr.com/" + photo.server + "/" + photo.id + "_" + photo.secret + "_b.jpg";
                            var flickrPhoto = new FlickrPhoto(photoTitle, photoOwner, photoWebURL, photoStaticURL);
                            callback(flickrPhoto);
                        }
                    }
                };

                $.ajax(ajaxOptions);
            }
        }
        function laylink() {
            var photoId = document.getElementById("idanh").value;
            var flickrService = new FlickrService();
            flickrService.getPhotoInfo(photoId, function (photo) {
                var linkanh = photo.imageURL;
                document.getElementById("linkanh").value = linkanh;
                anh = `
                 <img src="${linkanh}" alt="" width="200px" height="200px"> 
                `;
                document.getElementById("anh").innerHTML = anh;
            });
        }
        function thanhphan() {
            window.location = `http://localhost:3000/thanhphan?token=${token}&phone=${phone}`;
        }
        function monan() {
            window.location = `http://localhost:3000/dulieu?token=${token}&phone=${phone}`;
        }
    </script>
</body>

</html>