/* html,body{
    width: 100%;
    height: 100%;
    margin:0 auto;
    padding: 0;
}
/* menu */
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    border-bottom: 1px solid gray ;
    width: 100%;
    height: 60px;

}
a.dropdown-item:hover {
    background-color: cornsilk;
}
a.nav-link {
    font-family: initial;
    font-size: 23px;
}
a.nav-link:hover{
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
} */
html, body {width: 100%;height: 100%;}
/* menu */
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    border-bottom: 1px solid gray ;
    width: 100%;
    height: 60px;

}
a.dropdown-item:hover {
    background-color: cornsilk;
}
a.nav-link {
    font-family: initial;
    font-size: 23px;
}
a.nav-link:hover{
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
}

.container{
    max-width: 100%;
    height: 100%;
    float: left;
    padding: 0;
}

/*khu xử lí*/
/* .xuly{
    width: 10%;
    height: 100%;
    float: left;
} */
/* thanh chọn*/
/* .thanhcongcu{
    width: 10%;
    height: 100%;
    background-color:rgb(38, 43, 49);
    float: left;
    position: fixed;
    top:40px;
    left: 0;
}
.nutcongcu{
    padding-left: 10px;
    margin-top:30px;
    text-align: left;
    background: transparent;
    border: none;
    font-size: 20px;
    color:white;
    width: 100%;
    height: 60px;
    
} */
/* .nutcongcu:hover{
    background-color: rgb(112, 192, 112);
} */
/*khu dữ liệu*/

.dulieu{
    width: 100%;
    height: 100%;
    float:right;
}

.bang{
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.chitietdulieu{
    width: 100%;
    float: left;
}

.table-light{
    width: 100%;
    background-color:rgb(243, 236, 236);
    height: 48,8px;
}

.table-light thead{
    width: 100%;
}

.table-light tbody{
    width: 100%;
}

.table-light td{
    
    color: black;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 200px;
    text-align: center;

}

.chitietdulieu{
    width: 100%;
    margin-top:40px;
    text-align: center;
}

.chitietdulieu img {
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}


.nguyenlieu{
    width: 100%;
    text-align: center;
}
.chitietnguyenlieu{
    width: 50%;
    float: left;

}
.chitietgiavi{
    width: 50%;
    float: right;

}

.cachnau{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.suachitiet{
    margin:30px 0;
    text-align: center;
}

.suachitiet button{
        background-color: rgb(146, 141, 141);
        border: 1px solid black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        width: 10%;
}

